__pycache__
Data.xlsx
data2.xlsx
result_laser_3.xlsx
result_laser_4.xlsx
resultLaser3.xlsx
resultLaser4.xlsx
resultLaser3V2.xlsx
resultLaser3V3.xlsx
resultLaser3V4.xlsx
resultLaser3V5.xlsx
resultLaser4V2.xlsx
resultLaser4V3.xlsx
resultLaser4V4.xlsx
resultLaser4V5.xlsx
testData.xlsx
testDataV2.xlsx
tempData.xlsx

Data_export_alles_vanaf_2023.xlsx
result_laser_3_vanaf_2023.xlsx
result_laser_4_vanaf_2023.xlsx

SuplaconQ1.xlsx
SuplaconQ1V2.xlsx
